@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@import "basecoat-css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-display: "Outfit", sans-serif;

    --color-primary: #e9ecef;
    --color-primary-dark: #343a40;

    --color-secondary: #dee2e6;
    --color-secondary-dark: #495057;

    --color-muted: #ced4da;
    --color-muted-dark: #6c757d;

    --color-light: #f8f9fa;
    --color-dark: #212529;
}

body {
    display: grid;
    grid-template-columns: 250px 2fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "sidebar header"
        "sidebar main";
    overflow: hidden;
}

.page-sidebar {
    grid-area: sidebar;
}

.page-header {
    grid-area: header;
}

.page-main {
    grid-area: main;
}
